<h1>Pandas Class 1 exercise</h1>

In [1]:
import numpy as np
import pandas as pd

<h1>Series</h1>

In [2]:
s1 = pd.Series([1,2,3,4,5])

In [4]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
s2 = pd.Series(data=[2,3,4,5,6,7,8,9], index=['a','b','c','d','e','f','g','h'])

In [8]:
s2

a    2
b    3
c    4
d    5
e    6
f    7
g    8
h    9
dtype: int64

In [11]:
s3 = pd.Series(data = [2,3,4,5,6,7,8,9] , index = s2.index)

In [12]:
s3

a    2
b    3
c    4
d    5
e    6
f    7
g    8
h    9
dtype: int64

In [13]:
s3[2]

4

In [14]:
s3['c']

4

In [15]:
s3 = pd.Series(np.array([22,33,44,55]))

In [16]:
s3

0    22
1    33
2    44
3    55
dtype: int64

In [18]:
sr = pd.Series({'apple': 5, 'orange':10, 'grapes':8})
sr

apple      5
orange    10
grapes     8
dtype: int64

In [20]:
sr = pd.Series((2,3,4,5,6))
sr

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [22]:
sr = pd.Series(['Hello', 'my', 'name', 'farhan'])
sr

0     Hello
1        my
2      name
3    farhan
dtype: object

<h1>Size, shape, uniqueness and count of  value </h1>

In [24]:
sr = pd.Series([1,2,2,3,4,4,5,5,5])
sr

0    1
1    2
2    2
3    3
4    4
5    4
6    5
7    5
8    5
dtype: int64

In [26]:
print(sr.size)
print(sr.unique())
print(sr.count())
print(sr.shape)
print(sr.value_counts())

9
[1 2 3 4 5]
9
(9,)
5    3
4    2
2    2
3    1
1    1
dtype: int64

<h1>Head and foot</h1>

In [29]:
arr = pd.Series(np.arange(50))
arr

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
dtype: int64

In [30]:
arr.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [32]:
arr.tail()

45    45
46    46
47    47
48    48
49    49
dtype: int64

In [33]:
arr.tail(n=10)

40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
dtype: int64

<h1>Label based lookup versus position based lookup</h1>

In [35]:
arr = pd.Series(data=[1,2,3,4,5], index=[2,3,4,5,6])
arr

2    1
3    2
4    3
5    4
6    5
dtype: int64

In [37]:
arr[0] #It will generate the error because the index is not starting from 0 so now we will use iloc

KeyError: 0

In [46]:
arr.loc[1] #loc is also not working for this iloc is must

KeyError: 1

In [43]:
arr.iloc[1]

2

In [47]:
arr

2    1
3    2
4    3
5    4
6    5
dtype: int64

In [49]:
arr.iloc[0]

1

In [50]:
arr.loc[[2,4,5]]

2    1
4    3
5    4
dtype: int64

In [52]:
arr.iloc[[0,3,4]]

2    1
5    4
6    5
dtype: int64

<h1>How we can add two or more Series</h1>

In [54]:
s1 = pd.Series(data=[1,2,3,4,5,6], index=['a','b', 'c','d','e','f'])
s1

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [56]:
s2 = pd.Series(data=[6,5,4,3,2,1], index=['f','e', 'd','c','b','a'])
s2

f    6
e    5
d    4
c    3
b    2
a    1
dtype: int64

In [58]:
s1+s2  #when we add two series, It will match the lables then will add them, not like numpy array, It's does not matterthe location of the integer

a     2
b     4
c     6
d     8
e    10
f    12
dtype: int64

<p>What happens if the label not exist in other series, in that case it will create same lable in other series and give the value of NaN(a label exist in series1 but not in series2, when we add the it will create a label a=naN value</p>

In [60]:
s1 = pd.Series(data=[1,2,3,4,5], index=['a','b','c','d','e'])
s1'',

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [61]:
s2 = pd.Series(data=[1,2,3,4,5], index=['b','c','d','e','f'])
s2

b    1
c    2
d    3
e    4
f    5
dtype: int64

In [62]:
s1+s2

a    NaN
b    3.0
c    5.0
d    7.0
e    9.0
f    NaN
dtype: float64

<h1>Special case of NaN</h1>

In [64]:
nan = np.array([1,2,3,4,np.nan])
nan

array([ 1.,  2.,  3.,  4., nan])

In [65]:
np.mean(nan)

nan

In [67]:
arr = np.arange(5)
arr

array([0, 1, 2, 3, 4])

In [68]:
np.mean(arr)

2.0

In [69]:
s = pd.Series(nan)

In [70]:
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
dtype: float64

In [71]:
np.mean(s)

2.5

<p>You can see here Pandas will remove or ignore nan values, and same array is converted in pd.Series and it's provide us the mean.</p>

In [72]:
s.mean(skipna=False)

nan

<h1>Boolen Selection</h1>

In [74]:
s = pd.Series(np.arange(10))
sindexing

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [75]:
s>10

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [76]:
s>1

0    False
1    False
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [77]:
s[s<10]

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [78]:
s[s>6]

7    7
8    8
9    9
dtype: int64

In [79]:
(s>5).any()

True

In [80]:
(s>10).all()

False

<h1>Reindexing a series</h1>
<p>Reindexing in pandas is a process that makes the data in a Series or DataFrame match a given set of labels. This is core to the functionality of pandas as it enables label alignment across multiple objects, which may originally have different indexing schemes. This process of performing a reindex includes the following steps:


<li>Reordering existing data to match a set of labels.</li>
<li>Inserting NaN markers where no data exists for a label.</li>
<li>Possibly, filling missing data for a label using some type of logic (defaulting to adding NaN values).</li>

</p>

In [82]:
s = pd.Series(np.arange(6))
s

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [83]:
s.index=['a','b','c','d','e','f']

In [84]:
smi glasses

a    0
b    1
c    2
d    3
e    4
f    5
dtype: int64

In [89]:
np.random.seed(123456)
s1 = pd.Series(np.random.randn(3))
s1

0    0.469112
1   -0.282863
2   -1.509059
dtype: float64

In [91]:
s2 = pd.Series(np.random.randn(3))
s2s2arange

0   -0.173215
1    0.119209
2   -1.044236
dtype: float64

In [93]:
combined = pd.concat([s1, s2])

In [94]:
combined

0    0.469112
1   -0.282863
2   -1.509059
0   -0.173215
1    0.119209
2   -1.044236
dtype: float64

In [97]:
# reset the index so that duplication of index may be removed
combined.index= np.arange(0, len(combined))

<p>We can also done this as <b>combined.index=['a','b','c','d','e','f']</b></p>

In [96]:
combined

0    0.469112
1   -0.282863
2   -1.509059
3   -0.173215
4    0.119209
5   -1.044236
dtype: float64

<h1>reindex() method</h1>
<p>Greater flexibility in creating a new index is provided using the .reindex() method. An example of the flexibility of .reindex() over assigning the .index property directly is that the list provided to .reindex() can be of a different length than the number of rows in the Series:</p>

In [103]:
s1 = pd.Series(np.arange(6))

0    0.469112
1   -0.282863
2   -1.509059
3   -1.135632
4    1.212112
5   -0.173215
dtype: float64

In [105]:
s2 = s1.reindex([1,2])

In [106]:
s2

1   -0.282863
2   -1.509059
dtype: float64

In [107]:
s3 = s1.reindex([0,2,8])

In [108]:
s3

0    0.469112
2   -1.509059
8         NaN
dtype: float64

<p><h3>Things to be noted:</h3>


1. reindex() donot re-index inplace, it will return a new series original will not be modified
2. if any index not matching the previous index will be assigned NaN
3. The index present in previous indexes, if not included in re-index 
    then the row will not be added in new series. 
    </p>

<p>Reindexing is also useful when you want to align two Series to perform an operation on matching elements from each series; however, for some reason, the two Series had index labels that will not initially align. The following example demonstrates this, where the first Series has indexes as sequential integers, but the second has a string representation of what would be the same values:</p>

In [109]:
s1 = pd.Series(np.arange(6))
s1

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [112]:
s2 = pd.Series(np.arange(6), index=['0','1','2','3','4','5'])
s2

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [113]:
s1+s2

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

<p>
    <b>you can easily guess what had happened here.</b>

all values are NaN because the operation tries to add the item in the first series with the integer label 0, which has a value of 0, but can't find the item in the other series and therefore, the result is NaN (and this fails six times in this case).
</p>

<h2>
Once this situation is identified:</h2>

    
it becomes a fairly trivial situation to fix by reindexing the second series:

In [116]:
s2.index= s2.index.values.astype(int)
s2

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [117]:
s1+s2

0     0
1     2
2     4
3     6
4     8
5    10
dtype: int64

<p>
    Overriding the default action of inserting <b>NaN</b> as a missing value during reindexing can be changed by using the <b>fill_value</b> parameter of the method.
 </p>

In [118]:
s = s1.copy()

In [119]:
s

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [122]:
s_reindexed = s.reindex([1,2,10], fill_value=0)

In [123]:
s_reindexed

1     1
2     2
10    0
dtype: int64

<h1>ffill, bfill, & nearest</h1>

In [136]:
s = pd.Series(data=['Red', 'Green', 'Blue', 'Black'], index=[0,5,8,11])
s

0       Red
5     Green
8      Blue
11    Black
dtype: object

In [137]:
s.reindex(np.arange(0,15), method='ffill')

0       Red
1       Red
2       Red
3       Red
4       Red
5     Green
6     Green
7     Green
8      Blue
9      Blue
10     Blue
11    Black
12    Black
13    Black
14    Black
dtype: object

In [138]:
s.reindex(np.arange(0,15), method='bfill')

0       Red
1     Green
2     Green
3     Green
4     Green
5     Green
6      Blue
7      Blue
8      Blue
9     Black
10    Black
11    Black
12      NaN
13      NaN
14      NaN
dtype: object

In [139]:
s.reindex(np.arange(0,15), method='nearest')

0       Red
1       Red
2       Red
3     Green
4     Green
5     Green
6     Green
7      Blue
8      Blue
9      Blue
10    Black
11    Black
12    Black
13    Black
14    Black
dtype: object

<h1>Slicing a Series</h1>

In [140]:
s = pd.Series(np.arange(0,15))

In [141]:
s

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [142]:
s[2:10]

2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [143]:
s[[2,5,1]]

2    2
5    5
1    1
dtype: int64